a{
    color:#c90e0e;
    text-decoration: none;
    font-weight: bold;
}

h0 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
}


body{
    margin: 0;
    padding: 0;
    background-color: #EEEEEF;
}

.framebox{
    margin:0 auto;
	max-width: fit-content;
	font-family: 'Century Gothic', sans-serif;
	background-color: #FFFFFF;
	border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
}

.header{
    margin: 0 auto;
    color: #4c0fe6;
    background-color: #094984;
}
.header h1{
    padding: 2%;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}

.main{
    background-color: #FFFFFF;
}

.main .about{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
.main .about .box{
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
    flex: 0.4;
    display: flex;
    align-items: center;
}
.main .about .intro{
    padding: 2%;
    text-align: justify;
    flex: 1.6;
}
.main .about .box .wrap{
    padding-left: 2%;
}
.main .about .box .wrap .box-img{
    padding-top: 8%;
    width: 200px;
    height: 200px;
}
.main .about .box .wrap a{
    color: #031220;
}

.main .news{
    background-color: #FFFFFF;
}
.main .news h1{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}
.main .news p{
    font-weight: 100;
    padding-left: 2%;
}


.main .publications{
    background-color: #FFFFFF;
}
.main .publications h1{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}
.main .publications p{
    font-weight: 100;
    padding: 0;
}
.main .publications .paper{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}
.main .publications .paper .paper-img{
    padding-left: 2%;
    align-items: center;
    text-align: center;
    display: flex;
    flex: 0.4;
}
.main .publications .paper .paper-img img{
    width: 240px;
    height: 120px;
    box-shadow: 3px 3px 6px #888;
}
.main .publications .paper .paper-info{
    padding-left: 2%;
    text-align: justify;
    flex: 1.6;
}

.main .internship{
    background-color: #FFFFFF;
}
.main .internship h1{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}


.main .awards{
    background-color: #FFFFFF;
}
.main .awards h1{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}

.main .logos{
    background-color: #FFFFFF;
}
.main .logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .logos img{
    width: 420px;
    height: 110px;
    margin: 0 20px;
    
}

footer{
    background-color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width:750px) {
    .main .about{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main .about .box{
        text-align: center;
        align-items: center;
    }
    .main .about .intro{
        padding: 2%;
        text-align: justify;
    }
    .main .about .box .wrap{
        padding-left: 0;
    }
    .main .about .box .wrap .box-img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:650px) {
    .main .publications .paper{
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main .publications .paper .paper-img{
        padding-left: 2%;
        text-align: center;
    }
    .main .publications .paper .paper-img img{
        width: 240px;
        height: 120px;
        box-shadow: 3px 3px 6px #888;
    }
    .main .publications .paper .paper-info{
        padding-left: 2%;
    }
}